// =======================================
//  Some classes are used globally, and
//  that's ok!
// =======================================

.btn {
  color: #fff;
  font-weight: $base-font-weight;
  background-color: $brand-color;
  border-color: $brand-color;
  transition: 0.4s ease;
  &:hover {
    color: #fff;
    background-color: $hover-color;
  }
}

.fancy-list {
  display: block;
  border: $border;
  margin-bottom: $spacing-unit;
  transition: 0.3s ease;
  &:hover {
    text-decoration: none;
    border-color: $brand-color;
  }
  .list-img {
    background-position: center;
    background-size: cover;
    height: 200px;
  }
  .list-meta {
    padding: $spacing-unit * 0.5;
    p {
      margin-bottom: 0;
    }
  }
}
