// =======================================
//  Header SASS
// =======================================

.navbar {
  border-radius: 0;
  border: 0;
  border-bottom: $border;
  margin-bottom: 0;
}
.navbar-brand {
  font-size: 1.2rem;
}
.navbar-nav {
  li {
    border-left: $border;
    a {
      font-size: 1rem;
      &:hover {
        color: #fff;
        background: $hover-color;
      }
    }
    &:last-child {
      border-right: $border;
    }
  }
}
