// =======================================
//  Page SASS
// =======================================
#pageWrapper {
  padding-top: $spacing-unit;
  padding-bottom: ($spacing-unit * 2);
}
#pageHero {
  min-height: 400px;
  background-position: center;
  background-size: cover;
  margin-bottom: $spacing-unit;
}
