// =======================================
//  Post SASS
// =======================================
#postWrapper {
  padding-top: $spacing-unit;
  padding-bottom: ($spacing-unit * 2);
}
.post-header {
  border-bottom: $border;
  margin-bottom: $spacing-unit;
}
