---
layout: default
---
<div class="container" id="pageWrapper">
  <div class="row">

    {% if page.img %}
      <div class="row">
        <div class="col-sm-12" id="pageHero" style="background-image: url('{{ page.img }}'); background-position: {{ page.img-align }}">

        </div>
      </div>
    {% endif %}

    <div class="col-md-6">

      <article class="page">

        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header>

        <div class="post-content">
          {{ content }}
        </div>

      </article>

    </div>

    <div class="col-md-6">
      {% if page.exampleProp1 %}
        <h3>{{ page.exampleProp1 }}</h3>
        <p>{{ page.exampleProp2 }}</p>
        <ul>
          <li>{{ page.examplePropList.[0] }}</li>
          <li>{{ page.examplePropList.[1] }}</li>
        </ul>
      {% endif %}
    </div>

  </div>
</div>
